.modalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: fit-content;
	height: fit-content;
	padding: 30px;
	transform: translate(-50%, -50%);
	backdrop-filter: blur(40px);
	border: 2px solid #e2dfed;
	background-color: #e2dfed33;
	border-radius: 20px;
}

.modalHeaderContainer {
	display: flex;
	justify-content: space-between;
	font-family: Ubuntu;
	font-size: 48px;
	font-weight: 500;
	line-height: 55.15px;
	text-align: left;
	color: #474168;
	margin-bottom: 30px;
}

.closeBtn {
	width: 60px;
	height: 60px;
	align-content: center;
	align-items: center;
	transition: background-color 0.2s ease-in-out;
	border: 1.03px solid #e2dfed;
	background-color: #e2dfed33;
	border-radius: 41.03px;
	&:hover {
		cursor: pointer;
		background-color: #e2dfed99;
	}
}

.modalContent {
	display: flex;
	flex-direction: column;
}

.headerContent {
	display: flex;
	gap: 20px;
	width: max-content;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.48px;
	text-align: left;
	color: #474168;
	margin-bottom: 30px;
}

.statisticsContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
	margin-left: 20px;
}

.header {
	width: max-content;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.48px;
	text-align: left;
	color: #474168;
}

.span {
	margin-top: 5px;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.44px;
	text-align: left;
	color: #474168;
}

ul {
	margin-bottom: 20px;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.44px;
	text-align: left;
	color: #474168;
}
