.container {
	display: flex;
	flex-direction: column;
	margin-top: 3%;
	padding: 50px;
	height: fit-content;
	background-color: #e2dfed33;
	backdrop-filter: blur(40px);
	border-radius: 40px;
}

.surveyContainer {
	max-height: 630px;
	max-width: 1450px;
	padding-right: 50px;
	overflow: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 10px;
		height: 600px;
	}
	&::-webkit-scrollbar-track {
		background: #e2dfed;
		border-radius: 30px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 30px;
		box-shadow: inset 6px 0px 5px rgba(82, 68, 132, 0.25);
	}
}

.optionsContainer {
	margin-top: 50px;
}

.customCheckbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	+ label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}
	+ label::before {
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		flex-shrink: 0;
		flex-grow: 0;
		border-radius: 50%;
		margin-right: 0.5em;
		background-color: #e2dfed;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 30% 30%;
	}
	&:checked + label::before {
		background-image: url('../../../../public/icons/dot.svg');
	}
}

.questionOption {
	margin-top: 10px;
}

.heading {
	font-family: 'Raleway', sans-serif;
	color: #474168;
	font-size: 25px;
	margin-bottom: 50px;
}

.footerText {
	font-family: 'Raleway', sans-serif;
	color: #474168;
	text-align: right;
	margin-top: 20px;
}

.btnContainer {
	display: flex;
	justify-content: end;
}

.sendBtn {
	width: 110px;
	height: 35px;
	padding: 8px 14px 8px 14px;
	gap: 10px;
	border-radius: 40px;
	opacity: 0px;
	margin-top: 20px;
	margin-right: 40px;
	background-color: #e2dfed99;
	transition: background-color 0.2s ease-in-out;
	border: 0;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 18.78px;
	text-align: left;
	&:hover {
		cursor: pointer;
		background-color: #e2dfed;
	}
}

.innerQuestion {
	color: #474168;
	font-size: 20px;
}

.ant-radio-inner {
	height: 24px !important;
	width: 24px !important;
}

.ant-radio-input {
	/* border: -3px solid #E2DFED !important; */
	background-color: #e2dfed !important;
	margin-right: 20px;
}

.ant-radio-inner {
	background-color: #e2dfed !important;
}

.ant-radio-checked .ant-radio-inner {
	border: none;
}
.ant-radio-wrapper:hover
	:where(.css-dev-only-do-not-override-1kuana8).ant-radio-wrapper,
:where(.css-dev-only-do-not-override-1kuana8).ant-radio-wrapper:hover
	.ant-radio-inner {
	border-color: none;
}

.ant-radio-checked .ant-radio-inner:after {
	background-color: #474168 !important;
}

.ant-radio:hover .ant-radio-inner {
	border-color: #474168 !important;
}

.ant-radio.ant-wave-target {
	margin-left: 20px;
	margin-right: 16px;
	margin-top: 3px;
}