.headingContainer {
	display: flex;
	flex-direction: row;
	max-width: 1430px;
	justify-content: space-between;
}

.heading {
	font-family: 'Raleway', sans-serif;
	width: fit-content;
	padding-bottom: 45px;
	font-size: 30px;
	color: #474168;
	border-bottom: 2px solid;
	border-color: #e2dfed99;
}

.sidebar {
	width: 179px;
}
